.json-view {
  font-family: monospace;
  
  .collapsible {
    cursor: pointer;
    
    &:hover {
      color: red;
    }
  }

  .string {
    color: #4e9a06;
  }

  .number {
    color: #ad7fa8;
  }

  .boolean {
    color: blue;
  }

  .null {
    color: #babdb6;
    font-style: italic;
  }

  .key {
    color: #204a87;
  }
}

